body{
    color: black;
}
/* 

    inline css - simply is styling a particular tag on the line its created
    its not that great should be avoided 1/10

    internal css - inside the file you're styling but inside a style tag inside the head tag... have to copy over multiple pages 3/10

    external css - this is 8/10 for 1 external css file...

*/ 
* {
    margin: 0;
    padding: 0;
    /* key-value pair
    margin is the key 
    0 is the value
    */
}

.navbar {
    background-color: crimson;
    align-items: left;
    display: flex; /*we will be covering flex tomorrow */
    justify-content: space-evenly;
    padding: 30px 20px; /* why are pixels not a great choice for size?*/   
}
.navbar ul li {
    list-style-type: none;
    display: inline-block;
}
.navbar li a {
    text-decoration: none;
    padding: 15px 5px; /* top and bottom then left and right*/

}

.mainContent {
    text-align: center;

}

.mainContent h1 {
    text-align: center;

}

.Education ul {
    list-style-type: none;
    color: blue;
}
/* 
on the about page, please add content about yourself....


including h1, h2, p and lists.... we will modify them shortly
*/